@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
:root{
  /* colors */
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-gray: hsl(0, 0%, 59%);
  --grayish-blue: hsl(227, 10%, 46%);
}

body{
  font-family:"Kumbh Sans" Sans-Serif;
 font-size: 18px;
 background-color: var(--dark-cyan);
 background-image:url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
 background-position: right 50vw bottom 50vh, left 50vw top 50vh;
 background-repeat: no-repeat, no-repeat;
}

.container{
  font-family:"Kumbh Sans" Sans-Serif;
  
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.card{
  text-align: center;
  width: 320px;
  background-image: url(./images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: 320px ;
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* profile photo */
.bio{
  transform: translateY(35%);
}
.profile-pic{
  border: 5px solid #fff;
  border-radius: 50%;
}

h1, h2{
  font-size: 18px;
  font-weight: 700;
  color:var(--grayish-blue);
}

span, p{
  font-weight: 400;
  color:var(--dark-gray);
}
.profile-details{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 30px;
   transform: translateY(15%);
}

.detail p{
  letter-spacing: 2px;
  font-size: 12px;
  transform: translateY(-90%);
}
